<% content_for :header do %>
  <section class="content-header">
    <p style="display:none;"><%= session[:jail_id] %></p>
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb" style="font-size:medium;">
          <li><a href="/dashboard"><i class="fa fa-dashboard"></i> 首页 </a></li>
          <li class="active">管理员管理</li>
        </ol>
      </div>
    </div>
  </section>
<% end %>

<% content_for :content do %>
  <section class="content"   style="margin-top:-25px;">
    <div class="row">

    </div>
  </section>
<% end %>
