<% content_for :header do %>
  <section class="content-header">
    <%= session[:prison_title] %>
    <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb" class="pull-left" style="font-size:medium;background-color:#edf6fa;font-size:12px;">
      <li><a href="/dashboard"><i class="fa fa-dashboard"></i> 首页 </a></li>
      <li class="active">家属注册管理</li>
      </ol>
    </div>
    </div>
  </section>
<% end %>

<% content_for :content do %>
<div ng-app='registrations_app' ng-controller="registrationsCtrl">
  <section class="content" style="margin-top:-25px;">
  	<div class="row">
  	  <div class="col-xs-12">
  	  		<div class="box-body">
            <div class="nav-tabs-custom">
                <div class="row today_video_table"  style="display:none;">
                  <div class="col-xs-12">
                    <table class="table table-striped table-hover table-bordered" id="today_video_table">
                      <thead>
                        <tr>
                          <th style="width:80px;">姓名</th>
                          <th style="width:80px;">电话</th>
                          <th style="width:80px;">身份证号</th>
                          <th style="width:80px;">申请时间</th>
                          <th style="width:69px;">预约时间</th>
                          <th style="width:69px;">囚号</th>
                          <th style="width:69px;">关系</th>
                          <th style="width:80px;">申请状态</th>
                          <th style="width:80px;"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd">

                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- 搜索代码开始 -->
                <div class="search">
                  <form style='width:100%;margin:-20px 0 20px 0' name="searchForm" id="searchFormCol" role="form" autocomplete="off" class='pull-right'>
                    <div style='margin:40px 0 0 1%' class='pull-left'>
                      <select style="width:150px;" class="form-control input-xsmall pull-left" ng-change='limitChange()' ng-model='limit'>
                        <option value="1">1</option>
                        <option value="10" ng-selected='10'>10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                      </select>
                      <p class='pull-right' style='padding:5px 0 0 5px'>条记录</p>
                    </div>

                      <!--搜索框-->
                      <div class="pull-right col-xs-4" style="margin-top:50px;">
                        <input type="text" placeholder="请输入姓名、囚号或身份证号" ng-model="searchingContent" class="pull-left"
                               style="width:80%;font-size:13.5px;"/>
                        <button id="searching" class="btn btn-default btn-sm" ng-click="search()" ng-disabled="isAbleSearching">搜索</button>
                      </div>

                  </form>
                </div>
                <!-- 搜索代码结束 -->

                <ul class="nav nav-tabs">
                  <li class="active">
                    <a aria-expanded="false" href="#login_apply" data-toggle="tab">家属注册申请</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div id="login_apply" class="tab-pane active">
                    <table class="table table-striped table-hover table-bordered" id="login_table">

                      <thead>
                        <tr>
                          <th style="width:80px;">姓名</th>
                          <th style="width:69px;">电话</th>
                          <th style="width:69px;">身份证号</th>
                          <th style="width:69px;">申请时间</th>
                          <th style="width:69px;">囚号</th>
                          <th style="width:69px;">关系</th>
                          <th style="width:80px;">申请状态</th>
                          <th style="width:80px;text-align:center;">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd" ng-repeat="val in registList">
                          <td ng-bind="val.name"></td>
                          <td ng-bind="val.phone"></td>
                          <td ng-bind="val.uuid"></td>
                          <!-- <td ng-bind="val.created_at"></td> -->
                          <td >{{val.created_at|date:"yyyy-MM-dd HH:mm"}}</td>
                          <td ng-bind="val.prisoner_number"></td>
                          <td ng-bind="val.relationship"></td>
                          <td ng-bind="val.status | status" style="color:#f39c12;font-weight:bold"></td>
                          <td>
                            <button class="btn btn-default btn-sm" style="margin-left:18%;color:#3c8dbc;font-weight:bold" ng-click="authorize($event)" data-id="{{val.id}}" ng-hide="val.status == 'PASSED' || val.status == 'DENIED'">授权</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class='container'>
                    <div class="col-xs-10" align='right'>
                       <!-- Bootstrap 分页 -->
                       <p class='pull-left' style='margin-top:28px'>总共{{totalPages}}页,总共{{total}}条记录</p>
                       <ul id="paginator" class='pull-right'>
                       </ul>
                    </div>
                 </div>

              </div>

            </div>
  	  		</div>
        </div>
  	</div>
  </section>

  <div class="modal modal-default fade in box box-default" id="formModal" style="display:none;padding-right:17px;">
    <div class="modal-dialog" role="document">
      <div ng-hide="isCallback" class="modal-content">
        <div class="modal-header box-header with-border">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span>x</span>
          </button>
          <h4>授权</h4>
          <p id="msg">
            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="success">
              <div class="info-box bg-green">
                <span class="info-box-icon"><i class="glyphicon glyphicon-ok"></i></span>
                <div class="info-box-content" style="text-align:center;padding-top:15px;">
                  <span class="info-box-number" ng-bind="msg"></span>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="failed">
              <div class="info-box bg-red">
                <span class="info-box-icon"><i class="glyphicon glyphicon-remove"></i></span>
                <div class="info-box-content" style="text-align:center;padding-top:15px;">
                  <span class="info-box-number" ng-bind="msg"></span>
                  <span class="info-box-number" ng-bind="errMsg"></span>
                </div>
              </div>
            </div>

          </p>
        </div>

        <div class="photo-info">
           <p class="photo-text">请核对申请人照片:</p>
          <div id="photos" style="padding:5px 10px 0 10px">
            <img style='width:150px;height:150px;margin-left:25px' ng-repeat="img in imgs track by $index" ng-src="{{img}}" ng-mouseover="imgMouseOver($event)" ng-mouseleave="imgMouseOut($event)"/>
          </div>
        </div>

        <div class="modal-body" ng-show="!success && !failed">
          <div class="form-group reason-select" ng-show="formShow">
            <div class="col-xs-14">
                <p for="reason">请选择驳回原因</p>
                <select style="margin:10px 0 10px 0" name="您的身份信息错误" class="form-control select2 select2-hidden-accessible" id="reason" ng-model="reason">
                  <option value="您的身份信息错误">您的身份信息错误</option>
                  <option value="你与服刑人员关系不符">你与服刑人员关系不符</option>
                  <option value="身份证照片模糊，请上传清晰的生分证正反面照">身份证照片模糊，请上传清晰的生分证正反面照</option>
                  <option value="今日已预约已满,请选择其他日期">今日预约已满,请选择其他日期</option>
                </select>
            </div>
          </div>
          <button class="btn btn-default btn-block" ng-click="agree()" ng-bind="btn_agree"></button>
          <button class="btn btn-default btn-block" ng-click="disagree()" ng-bind="btn_disagree"></button>
          <button class="btn btn-danger btn-block" data-dismiss="modal">关闭</button>
        </div>


        <div class="modal-footer">
        </div>

      </div>
    </div>

  </div>
</div>
<!--
	<script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/registrations.js"></script>
  -->
<% end %>
