<% content_for :header do %>
  <section class="content-header">
    <%= session[:prison_title] %>
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb" class="pull-left" style="font-size:medium;background-color:#edf6fa;font-size:12px;">
          <li><a href="/dashboard"><i class="fa fa-dashboard"></i> 首页 </a></li>
          <li class="active">版本管理</li>
        </ol>
      </div>
    </div>
  </section>
<% end %>

<% content_for :content do %>
  <section class="content" style="margin-top:-25px;" ng-app="versions_app" ng-controller="versionsCtrl">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-info">
          <div class="box-body">

            <!--查询和修改按钮-->
            <!-- <div class="searchOrModification col-xs-12">
                <button type="button" name="button" class="pull-right btn btn-primary" ng-click="toggleSearchToModify()" ng-bind="btnMessage"></button>
            </div> -->

            <br>
            <!--监狱版本表格-->
            <div class="row">
              <div class="col-xs-12">
                <p class="pull-left">监狱版本：</p>
              </div>
              <div class="col-sm-12">
                <table class="table table-striped table-hover table-bordered" id="tTrolleys">
        					<thead>
        						<tr>
　	                   <th>版本名</th>
      						  	<th>版本号</th>
    					        <th>是否强制更新</th>
                      <th>描述</th>
                      <th>操作</th>
        						</tr>
        					</thead>
                  <tbody>
                    <tr ng-repeat="p in prison_versions track by $index" class="{{$index%2==0?'even':'odd'}}">
                      <td style="width:20%">
                        <input type="" name="" ng-model="p.version_code" ng-disabled="p.isModification">
                      </td>
                      <td style="width:20%">
                        <input type="" name="" ng-model="p.version_number" ng-disabled="p.isModification">
                      </td>
                      <td style="width:20%">
                        <p style='line-height:50px;text-align:left'>
                          <select class="form-control input-xsmall pull-left" style="width:150px;margin:0 auto" ng-disabled="p.isModification" ng-model="p.is_force">
                            <option value="true" ng-selected="p.is_force">是</option>
                            <option value="false" ng-selected="!p.is_force">否</option>
                          </select>
                        </p>
                      </td>
                      <td style="width:20%">
                        <p ng-bind="p.description"></p>
                      </td>
                      <td style="width:20%">
                        <button type="button" name="button" style="margin-left:40%" class="btn btn-primary" ng-click="toggleSearchToModify(p)" ng-bind="p.btnMessage"></button>
                      </td>
                    </tr>
                  </tbody>
        				</table>
              </div>
            </div>

            <!--家属版本表格-->
            <div class="row">
              <div class="col-xs-12">
                <p class="pull-left">家属版本：</p>
              </div>
              <div class="col-sm-12">
                <table class="table table-striped table-hover table-bordered" id="tTrolleys">
                  <thead>
                    <tr>
　	                   <th>版本名</th>
                      <th>版本号</th>
                      <th>是否强制更新</th>
                      <th>描述</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="f in family_versions track by $index" class="{{$index%2==0?'even':'odd'}}">
                      <td style="width:20%">
                        <input type="" name="" ng-model="f.version_code" ng-disabled="f.isModification">
                      </td>
                      <td style="width:20%">
                        <input type="" name="" ng-model="f.version_number" ng-disabled="f.isModification">
                      </td>
                      <td style="width:20%">
                        <p style='line-height:50px;text-align:left'>
                          <select class="form-control input-xsmall pull-left" style="width:150px;margin:0 auto" ng-disabled="f.isModification" ng-model="f.is_force">
                            <option value="true" ng-selected="f.is_force">是</option>
                            <option value="false" ng-selected="!f.is_force">否</option>
                          </select>
                        </p>
                      </td>
                      <td style="width:20%">
                        <p ng-bind="f.description"></p>
                      </td>
                      <td style="width:20%">
                        <button type="button" name="button" style="margin-left:40%" class="btn btn-primary" ng-click="toggleSearchToModify(f)" ng-bind="f.btnMessage"></button>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <!--弹出登录模态框-->
    <div class="modal fade in" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">狱务通版本管理</h4>
          </div>
          <div class="modal-body">
            <!--登录框-->
            <div class="login-box-body">
              <form method="post">
                <div class="form-group has-feedback">
                  <input class="form-control" placeholder="用户名" type="text" ng-model="username">
                  <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                  <input class="form-control" placeholder="密码" type="password" ng-model="password">
                  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                  <div class="col-xs-4 col-xs-offset-4" style="height:15px;line-height:15px">
                    <p class="text-danger" ng-show="userOrPassErr">
                      用户名或密码错误
                    </p>
                  </div>
                </div>
                <div class="row" style="margin-top:10px">
                  <!-- /.col -->
                  <div class="col-xs-12">
                    <div class="col-xs-5">
                      <button type="button" class="btn btn-danger btn-block btn-flat pull-left" data-dismiss="modal">取消</button>
                    </div>
                    <div class="col-xs-5 col-xs-offset-2">
                      <button type="button" class="btn btn-primary btn-block btn-flat pull-right" ng-click="loginVersion()">登录</button>
                    </div>
                  </div>
                  <!-- /.col -->
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

  </section>
<% end %>
