<!DOCTYPE html>
<html>
  <head>
    <title>Logs</title>
    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <%= yield %>
  <script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script> 
  </body>
</html>